#contacts_add {
  height: 14.5vw;
  border: 1px dashed $primary-color-light;

  .contacts_add--fa, .contacts_add--link {
    color: $primary-color-light;
    margin: 0 3%;
  }

  .contacts_add--fa {
    display: inline-block;
  }

  .contacts_add--link {
    width: 100%;
  }
}

@include desktop {
  #contacts_add {
    justify-content: center;
    text-align: center;

    .contacts_add--link {
      font-size: initial;
    }
  }
}