$min-mobile: "min-width: 488px";
$min-tablet: "min-width: 672px";
$min-desktop: "min-width: 1024px";

$primary-color-dark: #2da1ad;
$primary-color: #5bb7bf;
$primary-color-light: #88cacf;

$secondary-color-dark: #b3b4b4;
$secondary-color: #b5bbba;
$secondary-color-light: #e7e7e7;

$bold: 600;
$extra-bold: 700;