#form {
  .form--popup {
    @extend %popup;

    .popup--inner {
      @extend %popup-inner;
  
      .popup--input {
        width: 90%;
      }
  
      .popup--button {
        width: auto;
        border: initial;
        padding: 5px;
        border-width: 2px;
        border-style: outset;
        border-color: buttonface;
      }
    }
  }
}