@mixin mobile {
	@media (#{$min-mobile}) {
			@content;
	}
}

@mixin tablet {
	@media (#{$min-tablet}) {
			@content;
	}
}

@mixin desktop {
	@media (#{$min-desktop}) {
			@content;
	}
}

@mixin rounded-button($size, $color) {
	border: 1px solid $color;
	border-radius: 50%;
	color: $color;
	height: $size;
	width:  $size;
	padding:  $size % 6;
}

@mixin oval-button($size, $color) {
	background-color: $color;
	color:white;
	width: $size;
	height: $size / 4;
	border-radius: $size / 8;
	max-height: 50px;
	max-width: 180px;
}