// custom resets
body {
  font-family: Roboto;
  margin: 0;
  font-size: 12px;
  background-color: #fdfdfd
}

main, nav {
  width: 96%;
  margin: 0 auto;
}

form {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $secondary-color;
}

p {
  color: $secondary-color;
}

button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  width: 20px;
}


svg {
  color: $secondary-color;
}