@import "buttons/favoritiseContactButton";
@import "buttons/editContactButton";
@import "buttons/deleteContactButton";
@import "buttons/goBackButton";

#nav_crud {
  display:flex;
  justify-content: space-between;
  border-bottom: 2px solid $secondary-color-light;
  padding: 10px 2%;

  .nav--button {
    margin: 0 16px;
  }
}

@include tablet {
  #nav_crud {
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
  }
}